<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>This is a RESTful API based on an interview task at HX. Please visit my github repo for more information :-).</p><a href="https://github.com/sam-cook/dev-task-fun">https://github.com/sam-cook/dev-task-fun</a>
  </body>
</html>
